<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="media">
            <img src="bunnyLogoSmall.png" class="mr-3" alt="Track Rabbit Logo" />
        </div>
        <h1 class="display-4">Track Rabbit</h1>
        <h3 class="lead">Keeping track so you don't have to.</h3>
    </div>
</div>

<!-- Mood -->

<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <img src="happyRabbitNoBody.png" alt="Happy" />
        </div>
        <div class="col-6 col-md-4">
            <img src="neutralRabbitNoBody.png" alt="Neutral" />
        </div>
        <div class="col-6 col-md-4">
            <img src="sadRabbitNoBody.png" alt="Sad" />
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4">
            <button type="button" class="btn btn-primary text-center col-xs-4">
                <h4>Track That!</h4>
            </button>
        </div>
        <div class="col-6 col-md-4">
            <button type="button" class="btn btn-primary text-center col-xs-4">
                <h4>Track That!</h4>
            </button>
        </div>
        <div class="col-6 col-md-4">
            <button type="button" class="btn btn-primary text-center col-xs-4">
                <h4>Track That!</h4>
            </button>
        </div>
    </div>
</div>

<!-- <div class="containerOne">
      <div class="row">
        <div class="column">
          <img src="happyRabbitNoBody.png" alt="Happy" style="width:80%" />
        </div>
        <div class="column">
          <img src="neutralRabbitNoBody.png" alt="Neutral" style="width:80%" />
        </div>
        <div class="column">
          <img src="sadRabbitNoBody.png" alt="Sad" style="width:80%" />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <button type="button" class="btn btn-primary text-center col-xs-4">
          <h4>Track That!</h4>
        </button>

        <button type="button" class="btn btn-primary text-center col-xs-4">
          <h4>Track That!</h4>
        </button>

        <button type="button" class="btn btn-primary text-center col-xs-4">
          <h4>Track That!</h4>
        </button>
      </div>
    </div> -->

<!-- Navigation Buttons -->

<!-- Home Nav -->

<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary text-center col-xs-6">
            <h4>Home</h4>
        </button>

        <!-- Exercise & Activity Nav -->

        <button type="button" class="btn btn-primary text-center col-xs-6">
            <h4>Exercise & Activity</h4>
        </button>
    </div>
</div>

<!-- Scripts -->
<script src="app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>