<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="media">
            <img src="./styles/bunnyLogoSmall.png" class="mr-3 rabbitLogo" alt="Track Rabbit Logo" />
        </div>
        <h1 class="display-4">Track Rabbit</h1>
        <h3 class="lead">Keeping track so you don't have to.</h3>
    </div>
</div>

<!-- Navigation Buttons -->

<!-- Home Nav -->
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary text-center col-xs-6">
            <a href="/">
                <h4>Home</h4>
            </a>
        </button>

        <!-- Mood Nav -->

        <button type="button" class="btn btn-primary text-center col-xs-6">
            <a href="mood">
                <h4>Mood</h4>
            </a>
        </button>
    </div>
</div>

<!-- Exercise & Activity -->

<div class="container">
    <div class="row">
        <!-- Treadmill -->

        <div class="col-6 col-md-4">
            <div class="row button-col">
                <img src="./styles/treadmill.png" alt="Treadmill" />
            </div>
            <div class="row button-col">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary text-center">
                        <h4>Track That!</h4>
                    </button>
                </div>
            </div>
        </div>

        <!-- Weights -->

        <div class="col-6 col-md-4">
            <div class="row button-col">
                <img src="./styles/weights.png" alt="Weights" />
            </div>
            <div class="row button-col">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary text-center">
                        <h4>Track That!</h4>
                    </button>
                </div>
            </div>
        </div>

        <!-- Bike -->

        <div class="col-6 col-md-4">
            <div class="row button-col">
                <img src="./styles/bike.png" alt="Bike" />
            </div>
            <div class="row button-col">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary text-center">
                        <h4>Track That!</h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>