<!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="media">
      <img src="./styles/bunnyLogoSmall.png" class="mr-3 rabbitLogo" alt="Track Rabbit Logo" />
    </div>
    <h1 class="display-4">Track Rabbit</h1>
    <h3 class="lead">Keeping track so you don't have to.</h3>
  </div>
</div>

<!-- Navigation Buttons -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Todays Info
</button>

<!-- Mood Nav -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary text-center btn-block">
        <a href="mood">
          <h4>Mood</h4>
        </a>
      </button>
    </div>

    <!-- Exercise & Activity Nav -->

    <div class="col-md-6">
      <button type="button" class="btn btn-primary text-center btn-block">
        <a href="exercise">
          <h4>Exercise & Activity</h4>
        </a>
      </button>
    </div>
  </div>
</div>

<!-- Week In Review -->

<div class="container">
  <div class"row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Week In Review</h4>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>

<!-- Modal -->
<div action="POST" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          
          <div class="form-group">
            <label for="exampleFormControlInput1">Mood</label>
            <input value="" type="text" class="form-control" id="mood" placeholder="Mood">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Activity</label>
            <input value="" type="text" class="form-control" id="activity" placeholder="Activity">
          </div>
          
        <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="submitbtn" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
