<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="media">
      <a href="https://www.youtube.com/watch?v=LDLmrEck6kA&t=9s"> <img src="./styles/bunnyLogoSmall.png"
          class="mr-3 rabbitLogo" alt="Track Rabbit Logo" /></a>
    </div>
    <h1 class="display-4">Track Rabbit</h1>
    <h3 class="lead">Keeping track so you don't have to.</h3>
  </div>
</div>

<!-- Navigation Buttons -->

<!-- Mood Nav -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary text-center btn-block">
        <a href="mood">
          <h4>Mood</h4>
        </a>
      </button>
    </div>

    <!-- Exercise & Activity Nav -->

    <div class="col-md-6">
      <button type="button" class="btn btn-primary text-center btn-block">
        <a href="exercise">
          <h4>Exercise & Activity</h4>
        </a>
      </button>
    </div>
  </div>
</div>

<!-- Week In Review -->

<div class="container">
  <div class"row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Week In Review</h4>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>