<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="media">
      <img src="bunnyLogoSmall.png" class="mr-3" alt="Track Rabbit Logo" />
    </div>
    <h1 class="display-4">Track Rabbit</h1>
    <h3 class="lead">Keeping track so you don't have to.</h3>
  </div>
</div>

<!-- Week In Review -->

<div class="container">
  <div class="trainTable">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Week In Review</h4>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>

<!-- Navigation Buttons -->

<!-- Mood Nav -->

<div class="container">
  <div class="row">
    <button type="button" class="btn btn-primary text-center col-xs-6">
      <h4>Mood</h4>
    </button>

    <!-- Exercise & Activity Nav -->

    <button type="button" class="btn btn-primary text-center col-xs-6">
      <h4>Exercise & Activity</h4>
    </button>
  </div>
</div>

<!-- Scripts -->
<script src="app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>