<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="media">
            <img src="./styles/bunnyLogoSmall.png" class="mr-3 rabbitLogo" alt="Track Rabbit Logo" />
        </div>
        <h1 class="display-4">Track Rabbit</h1>
        <h3 class="lead">Keeping track so you don't have to.</h3>
    </div>
</div>

<!-- Navigation Buttons -->

<!-- Home Nav -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary text-center col-xs-6">
                <a href="/">
                    <h4>Home</h4>
                </a>
            </button>
        </div>

        <!-- Exercise & Activity Nav -->

        <div class="col-md-6">
            <button type="button" class="btn btn-primary text-center col-xs-6">
                <a href="exercise">
                    <h4>Exercise & Activity</h4>
                </a>
            </button>
        </div>
    </div>
</div>

<!-- Mood -->

<div class="container">
    <div class="row">

        <!-- Happy -->

        <div class="col-md-4">
            <div class="row button-col">
                <img id="activity" value="Happy" src="./styles/happyRabbitNoBody.png" alt="Happy" />
            </div>
            <div class="row button-col">
                <div class="col">
                    <button id="submitbtnh" type="button" class="btn btn-primary text-center choice-button">
                         <h4>Track That Happy!</h4>
                    </button>
                </div>
            </div>
        </div>

        <!-- Neutral -->

        <div class="col-md-4">
            <div class="row button-col">
                <img id="activity" value="Neutral" src="./styles/neutralRabbitNoBody.png" alt="Neutral" />
            </div>
            <div class="row button-col">
                <div class="col">
                    <button id="submitbtnn" type="button" class="btn btn-primary text-center choice-button">
                        <h4>Track That Meh!</h4>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sad -->

        <div class="col-md-4">
            <div class="row button-col">
                <img id="activity" value="Sad"  src="./styles/sadRabbitNoBody.png" alt="Sad" />
            </div>
            <div class="row button-col">
                <div class="col">
                    <button id="submitbtns" type="button" class="btn btn-primary text-center choice-button">
                        <h4>Track That Sad!</h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>