.list-group-item {
  line-height: 2.5;
}

h1 {
  color: #c63441;
  font-family: "Permanent Marker", cursive;
}

h3 {
  color: #c63441;
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url("background.png");
  background-repeat: repeat;
}

.jumbotron {
  background: #96bebe;
  text-align: center;
  color: #c63441;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rabbitLogo {
  max-width: 75px;
}

.panel-primary {
  border-color: #a67392;
  margin-top: 20px;
  margin-bottom: 0px;
}

.panel-heading {
  background: #96bebe;
  background-color: #96bebe;
}

.panel-primary > .panel-heading {
  background: #96bebe;
  background-color: #96bebe;
  border-color: #a67392;
}

.btn-primary {
  background-color: #96bebe;
  border-color: #a67392;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

.button-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: center;
}

.choice-button {
  vertical-align: center;
}
